DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require
ACCESS_TOKEN_SECRET=
INTERNAL_GATEWAY_URL=http://internal-gateway
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
RABBITMQ_URL=